@model Praktyki2024.stronainternetowa.Models.ContactFormModel

<h2>Formularz kontaktowy</h2>

@using (Html.BeginForm("SubmitContact", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message)
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <button type="submit">Wyślij</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}